
.form-container {
  display: flex;
  justify-content:start;
  align-items: center;
  padding: 20px;
}

.all-form-values {
  margin-bottom: 15px;
}
.all-checked-values {
  display: flex;
  align-items: center;
}



label {
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

input,
button {
  margin-top: 5px;
  font-size: 14px;
}

/* Add any additional styling as needed */
